mixin creator(titleBlock, images, textUp, textDown, items)
    .creatorTemplate
        if titleBlock.type === 'titlepag'
            .mainTitle
                .line
                h2= titleBlock.title
        .boxCreator
            .keen-slider#creator(data-content-items)
                each image in images
                    .keen-slider__slide.number-slide
                        img.card(src=image.img, alt=image.alt)

            .boxText
                h2.textUp!= textUp
        
        p.textDown!= textDown
        .content
            each item in items
                .item
                    h3!= item.title
                    p!= item.text
